@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@font-face{
	font-family: futura;
	src: url('futura medium bt.ttf');
}




*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'futura';
}

body{
	background-image: url('bg_white.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	min-height: 200vh;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 1000000;	
}
.sticky{
	padding: 15px 100px;
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.left-nav{
	display: flex;
}
.logo{
	position: relative;
	font-weight: 700;
	color: #0E6E83;
	display: flex;
	padding-right: 20px;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	position: relative;
	list-style: none;
}

.tq {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #0E6E83;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: 0.6s;
}
.bl {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: 0.6s;
}
.banner{
	position: relative;
	width: 100%;
	/*height: 100%;*/
	height: 100vh;
}
.bg-text{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 20%;
	top :55%;
}
.bg-figure {
	position: absolute;
	left: 35%;
	top: 55%;
	transform: translateY(-45%);
	width: 45%;
}
.bg-text-hello{
	position: absolute;
	font-size: 1.7vw;
	left: -1%;
	transform: translateY(-120%);
	color: #0E6E83;
}
.bg-text-img{
	position: absolute;
	left: 8%;
	transform: translateY(-78%);
	width: 15%;	
}
.bg-text-info{
	position: absolute;
	left: -1%;
	font-size: 1vw;
}

.sticky .logo,
.sticky ul li a {
	color: #0E6E83;
}

.icon-bar {
  position: fixed;
  display: flex;
  flex-direction: column;	  
  top: 55%;
  left: 95%;
  transform: translateY(-50%);
}
.icon-bar a{
  margin: 13%;
}
.icon-bar-img{
	width: 97%;
}

/* Font */
h1{
	margin-left: 275px;
	color: #0E6E83;
}

.cards{
	display: flex;
	width: 100%;
	justify-content: center;
}
.card{
	margin: 20px;
	position: relative;
	background-color: transparent;
	height: 250px;
	width: 30%;
}

.mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	z-index: 100000;	
	border-radius: 15px;	
}
.mask:hover{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	border-radius: 16px;
	z-index: 1;
	overflow: hidden;
	/* box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5); */
	backdrop-filter: blur(6px); 
	background-color: rgba(255, 255, 255, 0.3);
	/* border-top: 1px solid rgba(255, 255, 255, 0.5); */
	/* border-left: 1px solid rgba(255, 255, 255, 0.5); */
	border-radius: 15px;
	transition: 0.6s;
}

.card-image{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.more {
	position: relative;
	width: 100%;
	height: 100vh;
}

.more img{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
}

.curve {
	position: relative;
	width: 100%;
	height: 100vh;
}
.curve img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.curve p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

}