@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@font-face{
	font-family: futura;
	src: url('futura medium bt.ttf');
}




*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'futura';


}

body{
	background-image: url('bg_white.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
	min-height: 200vh;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 1000000;	
}
.sticky{
	padding: 15px 100px;
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.left-nav{
	display: flex;
}
.logo{
	position: relative;
	font-weight: 700;
	color: #0E6E83;
	display: flex;
	padding-right: 20px;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	position: relative;
	list-style: none;
}

.tq {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #0E6E83;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: 0.6s;
}
.bl {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: 0.6s;
}
.banner{
	position: relative;
	width: 100%;
	/*height: 100%;*/
	height: 100vh;
}
.bg-text{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 20%;
	top :55%;
}
.bg-figure {
	position: absolute;
	left: 35%;
	top: 55%;
	transform: translateY(-45%);
	width: 45%;
}
.bg-text-hello{
	position: absolute;
	font-size: 1.7vw;
	left: -1%;
	transform: translateY(-120%);
	color: #0E6E83;
}
.bg-text-img{
	position: absolute;
	left: 8%;
	transform: translateY(-78%);
	width: 15%;	
}
.bg-text-info{
	position: absolute;
	left: -1%;
	font-size: 1vw;
}

.sticky .logo,
.sticky ul li a {
	color: #0E6E83;
}

.icon-bar {
  position: fixed;
  display: flex;
  flex-direction: column;	  
  top: 55%;
  left: 95%;
  transform: translateY(-50%);
}
.icon-bar a{
  margin: 13%;
}
.icon-bar-img{
	width: 97%;
}

/* Font */
h1{
	margin-left: 275px;
	color: #0E6E83;
}

.cards{
	display: flex;
	justify-content: center;
}

.card-image{
	margin: 2%;
	width: 30%;
	height: 300px;
	border-radius: 15px;
	z-index: 100;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-image:hover{
	color: black;
	filter: blur(5px);
}

/*.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column
  overflow: hidden;
}
*/
